.calculatorContainer {
  align-items: center;
  height: 240px;
  padding: 10px;
  background-color: plum;
  display: flex;
  width: 400px;
  flex-wrap: wrap;
} 

.numberButtons {
  width: 60px;
  height: 60px;
  border: 4px solid gray;
  background: skyblue;
  align-items: center;
}

.calculatorDisplay {
  background-color: darkgray;
  width: 400px;
  height: 50px;
  text-align: right;
}

.arithmeticOperators {
  background-color: goldenrod;
}