h1 {
  text-align: center;
}

.calculatorContainer {
  align-items: center;
  height: 100%vh;
  padding: 10px;
  background-color: black;
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  margin: auto;
} 

.numberButton {
  width: 60px;
  height: 60px;
  background: skyblue;
  align-items: center;
}

.calculatorDisplay {
  background-color: darkgray;
  width: 400px;
  height: 50px;
  text-align: right;
  font-size: 35px;
  font-family: monospace;
  overflow: scroll;
}

.arithmeticOperators {
  background-color: goldenrod;
  width: 50px;
  height: 50px;
}

.addSymbol {
  font-weight: 500;
}

.minusSymbol {
  font-weight: 500;
}

.divisionSymbol {
  font-weight: 500;
}

.multiplicationSymbol {
  font-weight: 500;
}

.equalSymbol {
  font-weight: 500;
}

.clearSymbol {
  font-weight: 500;
}